.contact-bg {
  clip-path: polygon(0 0, 100% 64px, 100% 100%, 0 calc(100% - 64px));
  background: $color-secundary;
  height: calc(100% + 128px);
}

.main-section {}


.ferewell-text {
  text-align: center;
  color: $text-white;
}

.contact-option__text {
  color: rgba(255, 255, 255, 0.8);
  font-weight: $font-weight__light;
  font-size: $text-size__normal;
}

.contact-option__title {
  font-weight: $font-weight__regular;
}