.about {
  @include dimensions-base;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 48px;
  grid-template-areas:
    "title title title"
    "img_perfil perfil perfil"
    "img_perfil more_info more_info";
}

.about__title {
  grid-area: title;
}

.about__img-perfil {
  grid-area: img_perfil;
}

.img-perfil__container {
  position: relative;

  & img {
    width: 200px;
    height: auto;
  }

  &::before {
    z-index: -1;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    @include positioning(absolute, -16px, 50%, translateX(-50%));
  }
}

.about__perfil {
  grid-area: perfil;
}

.perfil {

  //Si un subtitulo tiene antes que el un parrafo
  & p+.perfil__subtitle {
    margin-top: 24px;
  }

  //Si a un parrafo le procede un subtitulo
  & .perfil__subtitle+p {
    margin-top: 8px;
  }
}

.about__more-info {
  grid-area: more_info;
  display: flex;
  justify-content: right;
}

.about__button {
  //
}