.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 48px;
  grid-template-areas:
    "title"
    "contact-section";
}

.contact__title {
  grid-area: title;
  align-self: center;
}

.contact__main-section {
  grid-area: contact-section;
  padding: 64px;
}

.main-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 48px;
  grid-template-areas:
    "formulari contact-options";
  // grid-template-areas: "contact-info formulari ferewell";
}

.contact_form {
  grid-area: formulari;
  align-self: center;
}

.contact__contact-options {
  grid-area: contact-options;
}

.contact-options {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-self: center;
}

.contact-option {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "contact-icon contact-title"
    ".            contact-text";
  grid-column-gap: 16px;
  justify-self: left;
}

.contact-option__icon {
  grid-area: contact-icon;
}

.contact-option__title {
  grid-area: contact-title;
}

.contact-option__text {
  grid-area: contact-text;
}