.img-perfil__container {

  & img {
    object-fit: cover;
    object-position: top;
    box-shadow: $shadow-img;
  }

  &::before {
    content: "";
    background: $color-secundary;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
  }
}

.perfil__subtitle {
  font-size: $text-size__subtitle;
  color: $color-secundary;
  font-weight: $font-weight__medium;
  letter-spacing: $letter-spacing__normal;
}

.perfil__parraf {
  color: $text-primary;
}