// Paleta de colores primarios

//Cambiar el nombre a primary
$color-secundary: hsl(219, 95%, 55%) !default;
$color-secundary-transparent: hsla(219, 95%, 55%, 0.85) !default;
$color-tertiary: hsl(0, 0%, 8%) !default;
$color-tertiary-transparent: hsla(0, 0%, 8%, 0.85) !default;
$color-gradient-contact: linear-gradient(to bottom, hsla(219, 95%, 55%), hsla(219, 95%, 44%));

// Colores de texto
$text-primary: hsla(0, 0%, 8%, 0.85) !default;
$text-white: #fff !default;

// Texto

// Cambiar text por font!!
//html{font-size: 16px}
$text-size__header1: 4.205rem !default;
$text-size__header2: 2.369rem !default;
$text-size__title: 1.777rem !default;
$text-size__subtitle: 1.333rem !default;
$text-size__normal: 1rem !default;
$text-size__small: .8rem !default;

$font-weight__semi-bold: 600;
$font-weight__medium: 500;
$font-weight__regular: 400;
$font-weight__light: 300;

$letter-spacing__normal: 1.25px;
$letter-spacing__title: 1px;

$line-height: 29px;

//Shadows
$shadowY: 0 1px 4px 1px rgba(0, 0, 0, 0.25) !default;
$shadow-proyect-detils: 0 0px 10px 2px rgba(15, 15, 15, 0.35) !default;
$shadow-img: -2px 4px 16px 1px rgba(0, 0, 0, 0.25) !default;

//Estilisticos
$border-radius__normal: 6px;
$border-radius__label: 25px;
$border-radius__img: 50%;