@tailwind base;

@tailwind components;

@screen ss {
  .app-container {
    padding: 0 theme('padding.4');
  }
}

@screen md {
  .app-container {
     padding: 0 theme('padding.8');
  }
}

@screen lg {
  .app-container {
     padding: 0 theme('padding.16');
  }
}

@screen xl {
  .app-container {
     padding: 0 theme('padding.24');
  }
}

@tailwind utilities;

.w-max-content {
  width: max-content;
}

.h-max-content {
  height: max-content;
}

.justify-self-end {
  justify-self: end;
}
