@import "sass/utilities/variables";
@import "sass/utilities/extenders";
@import "sass/utilities/mixins";

@import "sass/vendors/normalize";

@import "sass/bases/base";

@import "sass/modules/general";

@import "sass/layout/general";
@import "sass/layout/body";
@import "sass/layout/header";
@import "sass/layout/navbar";
@import "sass/layout/about";
@import "sass/layout/portfolio";
@import "sass/layout/contact";
@import "sass/layout/footer";

@import "sass/design/header";
@import "sass/design/navbar";
@import "sass/design/about";
@import "sass/design/portfolio";
@import "sass/design/contact";
@import "sass/design/footer";

@import "sass/utilities/media";