.portfolio {
    @include dimensions-base;
    margin-bottom: 104px;

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-gap: 48px;
    grid-template-areas:
        "title"
        "labels"
        "proyects";
}

.portfolio__title {
    grid-area: title;
}

.portfolio__labels {
    grid-area: labels;
    margin: 0 auto 0 auto;
    width: 60%;
}

.portfolio__proyects {
    grid-area: proyects;
    justify-content: center;
}

.proyects {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.proyect {
    position: relative;
}

// Patron de diseño
.proyect__img-container {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    overflow: hidden;
}

.proyect__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.proyects__all-proyects {
    grid-column: 1 / -1;
    margin-top: 32px;
}

.proyect__details {
    @include centered(absolute);
}


.details {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 32px;
    grid-template-areas:
        "title title"
        "description description"
        "labels link-github";

    height: 100%;
    width: 100%;
    // height: calc(100% - 32px);
    // width: calc(100% - 32px);
    padding: 16px;
}

.details__title {
    grid-area: title;
    color: $text-white;
    align-self: center;
}

.details__description {
    grid-area: description;
    color: $text-white;

}

.details__labels {
    grid-area: labels;
    justify-content: left;
    align-self: flex-end;
    // Parche: soluciona alineamiento con respecto al link de GitHub
    margin-bottom: -4px;
}

.details__link-github {
    grid-area: link-github;
    align-self: flex-end;
}